.book-page-container {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px 0px;
  border-radius: 20px;
  overflow: hidden;
}
.book-page-container .team-logo-container {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.book-page-container .team-logo-container .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  background-color: white;
}
.book-page-container .team-logo-container .logo-container .image {
  width: 50px;
}
.book-page-container .label-container {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
}
.book-page-container .player-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}
.book-page-container .player-container .player {
  width: 240px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
