.make-team-container {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px 0px;
  border-radius: 20px;
  overflow: hidden;
}
.make-team-container .team-logo-container {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.make-team-container .team-logo-container .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  background-color: white;
}
.make-team-container .team-logo-container .clicked {
  background-color: black;
}

.make-team-container .team-logo-container .logo-container .image {
  width: 50px;
}
.make-team-container .label-container {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
}
.make-team-container .player-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}
.make-team-container .player-container .player {
  width: 240px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-label {
  width: 300px;
  height: 50px;
  flex-direction: column;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid white;
}
.team-name-container {
  width: 500px;
  height: 50px;
  flex-direction: column;
  margin: 20px 20px 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid white;
}

.submit-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100px;
  padding: 10px 30px;
}

.submit-container .create-button {
  width: 120px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  border: 3px solid white;
}
