.main-container {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-1 {
  position: relative;
  margin: 20px 0px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 1200px;
  height: 500px;
  border-radius: 10px;
}
.main-1 .left-button {
  position: absolute;
  left: 20px;
  cursor: pointer;
}
.main-1 .right-button {
  position: absolute;
  right: 20px;
  cursor: pointer;
}
.main-1 .image-container {
  border: 1px solid white;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 1150px;
  height: 450px;
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
}
.main-1 .image-container .image {
  width: 1200px;
  filter: brightness(50%);
}
.main-1 .center-logo {
  position: absolute;
  width: 400px;
  opacity: 0.8;
}
.main-2 {
  margin: 20px 0px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 1200px;
  height: 500px;
}
.main-2 .info-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 10px;
  width: 550px;
  height: 500px;
}
.main-2 .info-container .label-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}
.main-2 .info-container .content-container {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0px 20px;
  text-align: justify;
  font-size: 20px;
}
.main-2 .ranking-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 10px;
  width: 550px;
  height: 500px;
}
.main-2 .ranking-container .label-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}
.main-2 .ranking-container .content-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 400px;
  padding: 0px 20px;
  justify-content: flex-start;
  flex-direction: column;
  text-align: justify;
  font-size: 20px;
}
.direct-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  width: 300px;
  height: 100px;
  border-radius: 10px;
  font-size: 30px;
  font-weight: bold;
}
.table-head {
  width: 100%;
  height: 30px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-body {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-head .team-name {
  width: 270px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-head .win-point {
  width: 80px;
  height: 30px;
  border-left: 2px black solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-head .win {
  width: 80px;
  height: 30px;
  border-left: 2px black solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-head .lose {
  width: 80px;
  height: 30px;
  border-left: 2px rgb(238, 238, 238) solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-body .team-name {
  width: 270px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.table-body .win-point {
  width: 80px;
  height: 30px;

  border-left: 2px rgb(238, 238, 238) solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-body .win {
  width: 80px;
  height: 30px;

  border-left: 2px rgb(238, 238, 238) solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-body .lose {
  width: 80px;
  height: 30px;
  border-left: 2px rgb(238, 238, 238) solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
