.battle-container {
  position: relative;
  background-color: rgb(238, 238, 238, 0.5);
  border: solid 5px rgb(15, 4, 76);
  border-radius: 20px;
  background: url("./image/map.jpg") center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
  width: 1200px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
.tower-container {
  height: 110px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.tower-container .tower {
  height: 90px;
  width: 50px;
  display: flex;
}
.tower-container .hp-bar {
  height: 25px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  background-color: rgb(256, 256, 256, 0.5);
  border: solid 1px black;
}
.tower-container .hp-bar .hp-blue {
  height: 20px;
  width: 10px;
  border-radius: 5px;
  margin: 1px;
  background-color: rgb(0, 43, 91);
}
.tower-container .hp-bar .hp-red {
  height: 20px;
  width: 10px;
  border-radius: 5px;
  margin: 1px;
  background-color: rgb(130, 0, 0);
}
.blue {
  background: url("./image/turret_blue.png") center;
  background-size: contain;
  background-repeat: no-repeat;
}
.red {
  background: url("./image/turret_red.png") center;
  background-size: contain;
  background-repeat: no-repeat;
}
#tower1 {
  position: absolute;
  top: 210px;
  left: 60px;
}
#tower2 {
  position: absolute;
  top: 590px;
  left: 60px;
}
#tower3 {
  position: absolute;
  top: 470px;
  left: 420px;
}
#tower4 {
  position: absolute;
  top: 620px;
  left: 260px;
}
#tower5 {
  position: absolute;
  top: 810px;
  left: 790px;
}
#tower6 {
  position: absolute;
  top: 790px;
  left: 300px;
}
#tower7 {
  position: absolute;
  top: 20px;
  left: 300px;
}
#tower8 {
  position: absolute;
  top: 40px;
  left: 750px;
}
#tower9 {
  position: absolute;
  top: 330px;
  left: 650px;
}
#tower10 {
  position: absolute;
  top: 170px;
  left: 810px;
}
#tower11 {
  position: absolute;
  top: 600px;
  left: 1030px;
}
#tower12 {
  position: absolute;
  top: 210px;
  left: 990px;
}

.battle-container .board {
  top: 0px;
  position: absolute;
  width: 100%;
  height: 40px;
  background-color: rgb(0, 0, 0, 0.6);
  border: 2px solid black;
  overflow: hidden;
}
.battle-container .board:hover {
  height: 120px;
}
.battle-container .board .team {
  color: white;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.battle-container .board .team .team-name {
  color: white;
  height: 100%;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.battle-container .board .team .time {
  color: white;
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.battle-container .board .score {
  color: white;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.battle-container .board .score .blue-score {
  height: 100%;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.battle-container .board .score .score-board {
  height: 100%;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}
.battle-container .board .score .score-board .score-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.battle-container .board .score .score-board .score-item .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 60px;
  font-size: 24px;
}
.battle-container .board .score .logo {
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  object-fit: contain;
}
.battle-container .select {
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0px;
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: rgb(0, 0, 0, 0.8);
  padding: 10px;
  border: 2px solid black;
  overflow: auto;
}
.battle-container .select:hover {
  height: 300px;
}
.battle-container .select .title {
  font-size: 30px;
}
.battle-container .select .log {
  display: flex;
  flex-direction: row;
  width: 800px;
  font-size: 20px;
}
.battle-container .select .log .time {
  display: flex;
  width: 200px;
}
.battle-container .select .log .desciption {
  display: flex;
  width: 600px;
}
.battle-container .blue-bar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  left: 0px;
  width: 10px;
  height: 700px;
  background-color: rgb(0, 43, 91, 0.9);
  border: 2px solid black;
  border-radius: 0px 10px 10px 0px;
  padding: 8px;
  overflow: hidden;
}
.battle-container .blue-bar:hover {
  width: 100px;
}
.battle-container .red-bar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  right: 0px;
  width: 10px;
  height: 700px;
  background-color: rgb(130, 0, 0, 0.9);
  border: 2px solid black;
  border-radius: 10px 0px 0px 10px;
  padding: 8px;
  overflow: hidden;
}
.battle-container .red-bar:hover {
  width: 100px;
}
.champion {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 120px;
  width: 80px;
}
.champion .name {
  color: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 20px;
  width: 80px;
}
.champion .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px black solid;
  height: 80px;
  width: 80px;
}
.champion .gold-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.battle-container .button {
  width: 180px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
}
.battle-container .ongoing {
  font-size: 20px;
  font-weight: bold;
}
