.battle-container {
  position: relative;
  background-color: rgb(238, 238, 238, 0.5);
  border: solid 5px rgb(15, 4, 76);
  border-radius: 20px;
  background: url("./image/map.jpg") center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
  width: 1200px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
.tower-container {
  height: 110px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.tower-container .tower {
  height: 90px;
  width: 50px;
  display: flex;
}
.tower-container .hp-bar {
  height: 25px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  background-color: rgb(256, 256, 256, 0.5);
  border: solid 1px black;
}
.tower-container .hp-bar .hp-blue {
  height: 20px;
  width: 10px;
  border-radius: 5px;
  margin: 1px;
  background-color: rgb(0, 43, 91);
}
.tower-container .hp-bar .hp-red {
  height: 20px;
  width: 10px;
  border-radius: 5px;
  margin: 1px;
  background-color: rgb(130, 0, 0);
}
.blue {
  background: url("./image/turret_blue.png") center;
  background-size: contain;
  background-repeat: no-repeat;
}
.red {
  background: url("./image/turret_red.png") center;
  background-size: contain;
  background-repeat: no-repeat;
}
#tower1 {
  position: absolute;
  top: 210px;
  left: 60px;
}
#tower2 {
  position: absolute;
  top: 590px;
  left: 60px;
}
#tower3 {
  position: absolute;
  top: 470px;
  left: 420px;
}
#tower4 {
  position: absolute;
  top: 620px;
  left: 260px;
}
#tower5 {
  position: absolute;
  top: 810px;
  left: 790px;
}
#tower6 {
  position: absolute;
  top: 790px;
  left: 300px;
}
#tower7 {
  position: absolute;
  top: 20px;
  left: 300px;
}
#tower8 {
  position: absolute;
  top: 40px;
  left: 750px;
}
#tower9 {
  position: absolute;
  top: 330px;
  left: 650px;
}
#tower10 {
  position: absolute;
  top: 170px;
  left: 810px;
}
#tower11 {
  position: absolute;
  top: 210px;
  left: 990px;
}
#tower12 {
  position: absolute;
  top: 600px;
  left: 1030px;
}

.battle-container .board {
  top: 0px;
  position: absolute;
  width: 100%;
  height: 20px;
  background-color: rgb(0, 0, 0, 0.6);
  border: 2px solid black;
  overflow: hidden;
}
.battle-container .board:hover {
  height: 100px;
}
.battle-container .select {
  bottom: 0px;
  position: absolute;
  width: 100%;
  height: 20px;
  background-color: rgb(0, 0, 0, 0.8);
  border: 2px solid black;
  overflow: hidden;
}
.battle-container .select:hover {
  height: 120px;
}
.battle-container .blue-bar {
  position: absolute;
  left: 0px;
  width: 10px;
  height: 700px;
  background-color: rgb(0, 43, 91, 0.9);
  border: 2px solid black;
  border-radius: 0px 10px 10px 0px;
  overflow: hidden;
}
.battle-container .blue-bar:hover {
  width: 100px;
}
.battle-container .red-bar {
  position: absolute;
  right: 0px;
  width: 10px;
  height: 700px;
  background-color: rgb(130, 0, 0, 0.9);
  border: 2px solid black;
  border-radius: 10px 0px 0px 10px;
  overflow: hidden;
}
.battle-container .red-bar:hover {
  width: 100px;
}
