.schedule-page {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  flex-direction: column;
  margin: 50px 0px;
  border-radius: 20px;
  overflow: hidden;
}
.schedule-page .button-container {
  width: 1200px;
  height: 120px;
  display: flex;
  padding: 20px 30px;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

.schedule-page .button-container .submit {
  height: 80px;
  display: flex;
  padding: 0px 30px;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
  font-weight: bold;
  flex-direction: row;
  border: 2px white solid;
  border-radius: 10px;
}
.personal-schedule-container {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}
.schedule-info {
  display: flex;
  align-items: center;
  color: black;
  font-weight: bold;
  padding: 20px;
  font-size: 20px;
  width: 1100px;
  height: 200px;
  border-radius: 10px;
  background-color: rgb(238, 238, 238, 0.7);
}
.personal-schedule-container .player-condition {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 400px;
}
.personal-schedule-container .player-condition .player-card {
  width: 200px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(0, 0, 0, 0.8);
  border-radius: 20px;
}
.personal-schedule-container .player-condition .player-card .image-container {
  width: 160px;
  height: 100px;
  overflow: hidden;
  object-fit: cover;
  border: white 2px solid;
  border-radius: 10px;
}
.personal-schedule-container .player-condition .player-card .name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 30px;
}
.personal-schedule-container .player-condition .player-card .level-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 160px;
  height: 30px;
}
.personal-schedule-container
  .player-condition
  .player-card
  .condition-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 160px;
  height: 30px;
}
.personal-schedule-container
  .player-condition
  .player-card
  .level-container
  .left-side {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 40px;
  height: 30px;
}
.personal-schedule-container
  .player-condition
  .player-card
  .level-container
  .right-side {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 120px;
  border: 2px white solid;
  border-radius: 5px;
  overflow: hidden;
  height: 20px;
}
.personal-schedule-container
  .player-condition
  .player-card
  .level-container
  .right-side
  .exp {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  height: 20px;
}
.personal-schedule-container
  .player-condition
  .player-card
  .level-container
  .right-side
  .e-0 {
  width: 0%;
}
.personal-schedule-container
  .player-condition
  .player-card
  .level-container
  .right-side
  .e-10 {
  width: 10%;
}
.personal-schedule-container
  .player-condition
  .player-card
  .level-container
  .right-side
  .e-20 {
  width: 20%;
}
.personal-schedule-container
  .player-condition
  .player-card
  .level-container
  .right-side
  .e-30 {
  width: 30%;
}
.personal-schedule-container
  .player-condition
  .player-card
  .level-container
  .right-side
  .e-40 {
  width: 40%;
}
.personal-schedule-container
  .player-condition
  .player-card
  .level-container
  .right-side
  .e-50 {
  width: 50%;
}
.personal-schedule-container
  .player-condition
  .player-card
  .level-container
  .right-side
  .e-60 {
  width: 60%;
}
.personal-schedule-container
  .player-condition
  .player-card
  .level-container
  .right-side
  .e-70 {
  width: 70%;
}
.personal-schedule-container
  .player-condition
  .player-card
  .level-container
  .right-side
  .e-80 {
  width: 80%;
}
.personal-schedule-container
  .player-condition
  .player-card
  .level-container
  .right-side
  .e-90 {
  width: 90%;
}

.personal-schedule-container
  .player-condition
  .player-card
  .image-container
  .image {
  width: 160px;
  height: 100px;
  overflow: hidden;
  object-fit: cover;
}
.personal-schedule-container .player-condition .player-card .select-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 160px;
  height: 80px;
}
.personal-schedule-container
  .player-condition
  .player-card
  .select-container
  .schedule {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 5px;
  width: 70px;
  height: 30px;
  font-weight: bold;
}
.personal-schedule-container
  .player-condition
  .player-card
  .select-container
  .clicked {
  background-color: white;
  color: black;
}

.league-info-container {
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: space-between;
  font-size: 20px;
  width: 1100px;
  height: 120px;
  color: black;
}
.league-info-container .day-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 150px;
  height: 100px;
  border: white solid 2px;
  background-color: rgb(238, 238, 238, 0.8);
  border-radius: 10px;
}
.league-info-container .match-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  width: 900px;
  background-color: rgb(238, 238, 238, 0.8);
  height: 100px;
  border: white solid 2px;
  border-radius: 10px;
}
.league-info-container .match-container .match {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 800px;
  height: 100px;
}
